.tableComponent {
  background-color: var(--white-1);
}

.container {
  padding: 0 16px;
}

.table {
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  table-layout: fixed;
}

.table .tableRowTablet {
  display: none;
}

.table .tableRow {
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  font-weight: 500;
  font-size: 16px;
}

.rowList .bodyTableRow {
  width: 82px;
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  font-weight: 500;
  font-size: 14px;
}

.table .bodyTableRowTablet {
  display: none;
}

.tableRow:nth-child(1) {
  width: 82px;
}
.tableRow:nth-child(2) {
  width: 116px;
}
.tableRow:nth-child(4) {
  width: 95px;
}
.tableRow:nth-child(5) {
  width: 50px;
}

.bodyTableRow:last-child {
  border-right: none;
}

.bodyTableRow::first-letter {
  text-transform: capitalize;
}

.bodyTableRow:nth-child(3) {
  text-align: center;
  display: none;
}

.bodyTableRow:nth-child(4) {
  text-align: center;
}

.bodyTableRow:nth-child(5) {
  text-align: center;
}

.tableRow:last-child {
  border-right: none;
}

.bodyTable {
  background-color: var(--white);
}

.table .rowList {
  vertical-align: top;
}

.button {
  background-color: var(--white);
  cursor: pointer;
}

.iconArrow {
  width: 20px;
  height: 20px;
  stroke: var(--accent-color);
}

.text {
  background-color: var(--white);
}

.title {
  background-color: rgba(133, 170, 159, 0.1);
}

.modal {
  background-color: var(--white);
  padding: 12px 24px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.buttonModal {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-start;
}

.iconModal {
  width: 16px;
  height: 16px;
  background-color: transparent;
  stroke: var(--accent-color);
  fill: none;
}

.buttonModal {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: var(--text-color);
  background-color: transparent;
  text-align: start;
}

.modalClose {
  position: absolute;
  width: 24px;
  height: 24px;
  stroke: var(--white);
  top: 16px;
  right: 16px;
}

.titleText {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input {
  width: 100%;
  border: 1px solid #d1d5db;
  border-radius: 15px;
  height: 48px;
  background-color: transparent;
  color: var(--white);
}

.buttonBox {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.buttonSave {
  background-color: var(--white);
  border-radius: 30px;
  padding: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5em;
  width: 158px;
}

.buttonCancel {
  border: 1px solid rgba(252, 252, 252, 0.4);
  border-radius: 30px;
  padding: 12px 45px;
  background-color: transparent;
  color: var(--white);
  width: 145px;
}

.editModal {
  border-radius: 16px;
  background-color: var(--accent-color);
  width: 343px;
  padding: 48px 16px;
  position: relative;
}

.titleText {
  margin-bottom: 8px;
}

.titleTextModal {
  display: none;
}

.labelModal {
  margin-bottom: 16px;
}

.labelModal:last-child {
  margin-bottom: 0;
}

.country {
  color: var(--white);
  font-weight: 500;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .tableComponent .container {
    background-color: #fff;
    width: 704px;
    margin: 0 auto;
    padding: 18px;
    border-radius: 15px;
  }

  .container .table {
    width: auto;
    background-color: var(--white);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .table .tableRowTablet {
    display: table-cell;
    border-bottom: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    font-weight: 500;
    font-size: 18px;
    width: 151px;
    padding: 22px;
    text-align: left;
  }

  .tableRow {
    display: flex;
  }

  .flagTAblet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .table .tableRow {
    font-size: 18px;
    padding: 22px 12px 22px 22px;
  }

  .tableRow:nth-child(1) {
    width: 160px;
  }
  .tableRow:nth-child(2) {
    width: 169px;
  }
  .tableRow:nth-child(4) {
    width: 122px;
  }
  .tableRow:nth-child(5) {
    width: 66px;
  }

  .table .bodyTableRow {
    font-size: 18px;
  }

  .rowList .bodyTableRow:nth-child(3) {
    display: table-cell;
    border-bottom: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
  }

  .title {
    display: flex;
  }

  .editModal {
    width: 628px;
    padding: 64px;
  }

  .formWrapper {
    gap: 18px;
    margin-bottom: 32px;
  }

  .labelModal {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .titleText {
    display: none;
  }

  .titleTextModal {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .imageModal {
    width: 32px;
    height: 32px;
  }

  .input {
    width: 354px;
    margin-bottom: 0;
  }

  .buttonSave {
    width: 245px;
    padding: 14px;
  }

  .buttonCancel {
    width: 245px;
    padding: 14px;
  }
}
