.container {
  padding: 0 16px;
}

.table {
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  width: 100%;
  table-layout: fixed;
}

.tableRow {
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}

.bodyTableRow {
  width: 82px;
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}

.tableRow:nth-child(1) {
  width: 82px;
}
.tableRow:nth-child(2) {
  width: 116px;
}
.tableRow:nth-child(3) {
  width: 95px;
}
.tableRow:nth-child(4) {
  width: 50px;
}

.bodyTableRow:last-child {
  border-right: none;
}

.bodyTableRow::first-letter {
  text-transform: capitalize;
}

.bodyTableRow:nth-child(3) {
  text-align: center;
}

.bodyTableRow:nth-child(4) {
  text-align: center;
}

.tableRow:last-child {
  border-right: none;
}

.bodyTable {
  background-color: var(--white);
}

.table .rowList {
  vertical-align: top;
}

.button {
  background-color: var(--white);
  cursor: pointer;
}

.text {
  background-color: var(--white);
}

.title {
  background-color: rgba(133, 170, 159, 0.1);
}

.modal {
  background-color: var(--white);
  padding: 12px 24px;
}

.buttonModal {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-start;
}

.iconModal {
  width: 16px;
  height: 16px;
  background-color: transparent;
  stroke: var(--accent-color);
  fill: none;
}

.buttonModal {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: var(--text-color);
  background-color: transparent;
  text-align: start;
}
