.mainWrapper {
  background-color: var(--white-1);
  padding: 76px 16px 76px 16px;
  height: 100vh;
}

.paddingTop {
  padding-top: 24px;
}

.uaBlock {
  border-bottom: 1px solid #dbdbdb;
  border-radius: 8px 8px 0 0;
  padding: 22px;
  background-color: var(--white);
  width: 100%;
}

.ukBlock {
  border-radius: 0 0 8px 8px;
  padding: 22px;
  background-color: var(--white);
  width: 100%;
}

.uaItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ukraine {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ukraineTablet {
  display: none;
}

.english {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.englishTablet {
  display: none;
}

.input {
  margin-top: 8px;
  height: 52px;
  margin-bottom: 50px;
  font-size: 20px;
  width: 100%;
  outline: transparent;
  background-color: transparent;
  padding: 0;
}

.buttonBox {
  display: flex;
  gap: 8px;
  align-items: center;
  height: 24px;
}

.buttonNext {
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  color: rgba(18, 20, 23, 0.5);
}

.iconArrow {
  width: 20px;
  height: 20px;
  stroke: var(--accent-color);
}

.infoBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 132px;
}

.formBlock {
  margin-bottom: 116px;
}

.progress {
  display: flex;
  justify-content: flex-end;
}

.imagePaper {
  width: 144px;
  height: 166px;
  margin-bottom: 32px;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  margin-bottom: 16px;
}

.titleText {
  font-weight: 400;
  font-size: 14px;
}

.buttonBottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: transparent;
  width: 100%;
}

.buttonThirst {
  border-radius: 30px;
  background-color: var(--accent-color);
  color: var(--white);
  width: 343px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5em;
}

.linkCancel {
  background-color: transparent;
  text-align: center;
  display: block;
  font-weight: 700;
  font-size: 16px;
  color: rgba(18, 20, 23, 0.5);
}

.modalClose {
  position: absolute;
  width: 24px;
  height: 24px;
  stroke: var(--white);
  top: 16px;
  right: 16px;
  background-color: transparent;
}

.wordsWrapper {
  display: flex;
  gap: 32px;
  margin-top: 32px;
}

.titleModal {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17em;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--white);
}

.answer {
  font-weight: 400;
  font-size: 14px;
  color: rgba(252, 252, 252, 0.5);
  margin-bottom: 8px;
}

.wordItem {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  color: var(--white);
}

.wordItem::first-letter {
  text-transform: capitalize;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5em;
  color: var(--white);
}

.iconBook {
  margin-top: 51px;
}

.disable {
  display: none;
}

@media screen and (min-width: 768px) {
  .buttonBottom {
    gap: 10px;
    flex-direction: row;
    justify-content: center;
  }

  .buttonThirst {
    margin-bottom: 8px;
    border-radius: 30px;
    padding: 16px;
    margin: 0;
    width: 203px;
    height: 56px;
  }

  .linkCancel {
    border: 1px solid var(--accent-color);
    border-radius: 30px;
    padding: 14px 71px;
    width: 203px;
    height: 56px;
  }

  .titleWrapper {
    display: flex;
    justify-content: space-between;
  }

  .english {
    display: none;
  }

  .englishTablet {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .ukraine {
    display: none;
  }

  .ukraineTablet {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .infoBlock {
    width: 581px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
  }

  .title {
    margin-bottom: 32px;
  }

  .titleText {
    font-size: 16px;
  }
}
