.container {
  background-color: var(--white);
  height: 100vh;
}

.title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.07em;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}

.image {
  width: 247px;
  margin: 0 auto;
  margin-bottom: 8px;
}

.paragraph {
  width: 100%;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 150%;
}

.formWrapper {
  padding: 32px 16px 57px 16px;
  background-color: rgba(133, 170, 159, 0.1);
  border-radius: 25px 25px 0 0;
}

.text {
  display: none;
}

.textTablet {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    background-image: linear-gradient(
      310deg,
      rgba(133, 170, 159, 0.51) 0%,
      rgba(255, 255, 255, 0) 10%
    );
  }

  .formWrapper {
    width: 628px;
    margin: 0 auto;
    margin-top: 120px;
    padding: 48px 64px;
    border-radius: 25px;
  }

  .title {
    margin-bottom: 20px;
  }

  .image {
    display: none;
  }

  .paragraph {
    margin-bottom: 32px;
  }

  .textTablet {
    display: block;
    text-align: center;
    margin-top: 98px;
    margin-bottom: 106px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    color: rgba(18, 20, 23, 0.8);
  }
}

@media screen and (min-width: 1440px) {
  .container {
    display: flex;
    flex-direction: row-reverse;
    gap: 80px;
    background-image: linear-gradient(
      310deg,
      rgba(133, 170, 159, 1) 0%,
      rgba(255, 255, 255, 0) 16%
    );
    padding: 64px 100px;
    align-items: flex-start;
  }

  .textTablet {
    display: none;
  }

  .formWrapper {
    margin: 0;
    margin-top: 0;
  }

  .image {
    display: block;
    width: 498px;
    margin-bottom: 16px;
  }

  .text {
    display: block;
    text-align: center;
  }
}
