.container {
  background-color: var(--white);
}

.title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.07em;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}

.image {
  width: 247px;
  margin: 0 auto;
  margin-bottom: 8px;
}

.paragraph {
  width: 100%;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 150%;
}

.formWrapper {
  padding: 32px 16px 57px 16px;
  background-color: rgba(133, 170, 159, 0.1);
  border-radius: 25px 25px 0 0;
}
