.headerWrapper {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: var(--white);
}

.navBlock {
  display: flex;
  gap: 8px;
  align-items: center;
}

.modal {
  display: block;
  background-color: var(--accent-color);
}

.iconClose {
  width: 32px;
  height: 32px;
  stroke: var(--white);
}

.modalHeader {
  display: flex;
}
