.userBox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.userTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  color: var(--text-color);
}

.iconBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.icon {
  fill: rgba(252, 252, 252, 0.7);
  width: 20px;
  height: 20px;
}

.iconBoxWhite {
  background-color: var(--white);
}

.iconBg {
  fill: var(--accent-color);
}

.userTitleWhite {
  color: var(--white);
}
